@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  --radius-box: .85rem;
  --radius-field: .55rem;
}

* { box-sizing: border-box; }
html, body, #root { min-height: 100%; margin: 0; }
button, a { -webkit-tap-highlight-color: transparent; }
